<%- include('../partials/header') %>

<section>

    <form action="/flights" method="POST">
        <label for="airline">Airline:</label>
        <input type="text" name="airline">
        <br>
        <label for="airport">Airport:</label>
        <select name="airport">
            <option value="AUS">AUS</option>
            <option value="DFW">DFW</option>
            <option value="DEN" selected>DEN</option>
            <option value="LAX">LAX</option>
            <option value="SAN">SAN</option>
        </select>
        <br>
        <label for="flightNo">Flight Number:</label>
        <input type="number" name="flightNo">
        <br>
        <label for="departs">Departs:</label>
        <input type="datetime-local" name="departs" value="<%=destDate%>">
        <br>
        <button type="submit">Submit</button>
    </form>
    
</section>

<%- include('../partials/footer') %>